.Team {
}
.tm {
  margin-left: 1%;
  padding-bottom: 15px;
}
.logout-btn {
  /* margin-left: 40%; */
  max-width: 500px;
  padding: 17px 30px;
  margin-top: 20px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
  border-radius: 3px;
  margin-left: 40%;
}
td {
  padding: 10px;
  background: #fafafa;
}
th {
  padding: 10px;
  background: black;
  color: white;
}

.tdiv {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mtable {
  width: 100%;
  /* border-collapse: collapse; */
}
